nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow:  0 0 30px gray;
}

p {
    padding: 0px;
}

aside{
    width: 800px;
    margin: 0;
    border: 5px solid blue;
    padding: 20px;
    background-color: whitesmoke;
    color: black;
}

footer{
    margin-top: 10px;
    border-top: 2px solid royalblue;
    text-align: center;
    font-size: larger;
}