:root{
    --padding-img: 2px;
    --background-color:darkblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--background-color);
}

main{
    max-width: 1200px;
    padding: right 20px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding-img);
    box-shadow:  0 0 30px gray;
}

p {
    padding: 0;
}

aside{
    width: auto;
    position: relative;
  }

aside h2{
    position: absolute;
    left: 50px;    
}

aside img{
    width: 200px;
    height: auto;
    border: 0;
    padding: var(--padding-img);
    background-color: blue;
}

footer{
    margin-top: 10px;
    border-top: 2px solid royalblue;
    text-align: center;
    font-size: xx-large;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / .1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

