.callout {
    max-width:400px;
    margin: 30px;
    border: 1px solid white;
    padding: 10px;
    background-color: lightskyblue;
    color: white;
}

img {
    float: rights;
    max-width: 200px;
    margin: 2px;
    border: 2px solid darkgray;
   
}
    

blockquote {
    color: white;
	padding: 20px;
}

cite {
	offset-position: right;
}