.callout {
    max-width: 400px;
	margin: 10px;
	border: 1px solid black;
	padding: 15px;
	background-color: rgb(31, 53, 151);
	color: #ffffff;
}

.callout img {
    float: right;
    margin: 10px 15px;
	border: 1px solid black;
	padding: 3px;
	background-color: lightgrey;
	width: 100px;
	height: auto;
}
    

blockquote {
    margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #ffffff;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}