:root{
    --primary-color:#BC6C25;
    --secondary-color:#BFC69F ;
    --accent-1-color:#DDA15E;
    --accent-2-color: #938693;
    
}

.logo-box{
    /* padding-left:  100px ; */
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

h1{
    font-family: Arial, sans-serif;
    color: black;
}

h2{
    font-family:'Lucida Sans', Arial, sans-serif ;
    background-color: var(--accent-2-color);
}

.hero{
     /* padding: auto; */
    background-color:var(--accent-1-color);
    margin: 10px auto;
    padding: 20;
    position: relative;
}

.hero h1{
    margin: 10px;
    text-align: right;    
    position:absolute;
    padding-bottom: 10px;
    right: 40%;
    top: 0%;
} 

article{
    position:absolute;
    top: 20px;
    clear: both;
}

article img{
    display: block;
    float: right;
    position: absolute;
    top: 10%;
}
img{
    width: auto;
}

p{
    position: relative;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background:radial-gradient(#938693,rgba(0, 0, 0, 0));
}

.hero img{
    display: block;
    position: relative;
    /* text-align: center; */
    padding: 30px;
    background-color: var(--accent-1-color);
    
}

footer{
    border-top: 2px solid var(--accent-2-color);
}

a{
    text-decoration: none;
}


